      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Everything must go!</h1>
        <p class="lead">I'm moving out in a few days. I'm selling my stuff. Is there something you want ?</p>
      </div>

      <hr>

      <!-- Example row of columns -->
      <div class="row-fluid">
      	<% @meubles.each do |meuble| %>
        <div class="span4">
          <h2><%= meuble.name %></h2>
          <img src="<%= meuble.link %>">
          <p> Price : <%= number_to_currency meuble.price %> </p>
          <p><a class="btn" href="<%= new_subscription_path(:meuble_id => meuble.id) %>">View details &raquo;</a></p>
        </div>
        <% end %>
      </div>
      <div class="row-fluid">
      	<% @meubles_2.each do |meuble| %>
        <div class="span4">
          <h2><%= meuble.name %></h2>
          <img src="<%= meuble.link %>">
          <p> Price : <%= number_to_currency meuble.price %> </p>
          <p><a class="btn" href="<%= new_subscription_path(:meuble_id => meuble.id) %>">View details &raquo;</a></p>
        </div>
        <% end %>
      </div>      